.navigation{
  list-style-type: none;
  margin: 0 auto;
  width: 1350px;
  &__ul{
    text-align: center;
    font-family: "Georgia", sans-serif;
  }
  &__li{
  }
  &__background{
    background: #1f0909;
  }
}

li {
  width: 160px;
  padding: 10px;
  list-style-type: none;
  float: left;
}

