.navigation{
  list-style-type: none;
  margin: 0 auto;
  width: 1350px;
  background: #fff6e8;
  text-decoration: none;
  &__ul{
    text-align: center;
    font-family: "Georgia", sans-serif;
  }
  &__li{
  }
}

li {
  width: 160px;
  padding: 10px;
  list-style-type: none;
  float: left;

}