.navigation {
  list-style-type: none;
  margin: 0 auto;
  width: 1350px;

  &__list {
    text-align: center;
    font-family: "Georgia", sans-serif;
  }

  &__list-link {
    text-decoration: none;
    color: #afa2a2;

  }

  &__list-item-button {
    border-left: #4b4b4b solid;
    width: 160px;
    padding: 10px;
    list-style-type: none;
    float: left;

  }
  &__list-item-button:hover{
    border-bottom: #4b4b4b solid;
    width: 160px;
    padding: 10px;
    list-style-type: none;
    float: left;
  }
  &__list-item-button-right {
    border-left: #4b4b4b solid;
    border-right: #4b4b4b solid;
    width: 160px;
    padding: 10px;
    list-style-type: none;
    float: left;
  }
&__list-item-button-right:hover {
  border-bottom: #4b4b4b solid;
  width: 160px;
  padding: 10px;
  list-style-type: none;
  float: left;

}
  &__background {
    background: #0a0d1e;
  }
}





