.login {
    margin: auto;
    width: 450px;
    flex: 0 1 auto;
    align-self: center;
    text-align: center;

}

.login__image {

    width: 120px;
}

.login__heading {

}

.login__submit {

}
.login__checkbox
{
    justify-content: center;
    display: flex;
}

.page {
    display: flex;
    width: 100%;
    height: 100%;
}

.page__login {
    height: 100vh;
}

